<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wong.question.user.mapper.RmContractMapper">

    <resultMap id="BaseResultMap" type="com.wong.question.user.entity.RmContractEntity">
            <id property="id" column="id" />
            <result property="contractId" column="contract_id" />
            <result property="contractContent" column="contract_content" />
            <result property="contractType" column="contract_type" />
            <result property="contractStatus" column="contract_status" />
            <result property="creationTime" column="creation_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,contract_id,contract_content,contract_type,contract_status,creation_time,
        update_time
    </sql>
</mapper>
