<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wong.question.user.mapper.RmSupplierMapper">

    <resultMap id="BaseResultMap" type="com.wong.question.user.entity.RmSupplierEntity">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="amount" column="amount" />
            <result property="creationTime" column="creation_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,amount,creation_time
    </sql>
</mapper>
