<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wong.question.user.mapper.RmUserQualificationMapper">

    <resultMap id="BaseResultMap" type="com.wong.question.user.entity.RmUserQualificationEntity">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="userPhone" column="user_phone" />
            <result property="userName" column="user_name" />
            <result property="businessLicense" column="business_license" />
            <result property="legalIdFront" column="legal_id_front" />
            <result property="legalIdBack" column="legal_id_back" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_phone,user_name,business_license,legal_id_front,
        legal_id_back,create_time,update_time
    </sql>
</mapper>
